html,
body{
    margin:0;
    width:100%;
    height:100%;
}

body{
    background:url("photo.jpg") center center / cover no-repeat;
    overflow:hidden;
}

/* 播放鍵 */

#play{
    position:absolute;

    left:50%;
    bottom:12%;

    transform:translateX(-50%);

    width:110px;
    height:110px;

    border:3px solid rgba(255,255,255,.95);
    border-radius:50%;

    background:transparent;

    color:white;
    font-size:42px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.3s;

    backdrop-filter:blur(2px);

    box-shadow:
        0 0 12px rgba(0,0,0,.35);
}

#play:hover{
    transform:
        translateX(-50%)
        scale(1.08);

    background:rgba(255,255,255,.06);
}
